@import './preflight.css';

html {
    height: 100%;
}
body {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🍸</text></svg>") 16 0,auto; /*!emojicursor.app*/

    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;

    &.loading {
        &::after {
            content: "Loading…";
            background: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}
header {
    border-bottom: 1px solid lightgray;
}
h1 {
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid lightgrey;
    color: blueviolet;
}

.center {
    text-align: center;
}

.nobreak {
    word-break: keep-all;
    white-space: nowrap;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

button {
    border: 1px solid;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 .5rem;
    margin-top: .5rem;
    margin-right: .5rem;
    cursor:pointer;

    &.is-selected {
        background-color: red;
    }
}

article {
    border-bottom: 1px solid lightgrey;

    &.is-collapsed {
        & .details {
            display: none;
        }
    }

    &.is-hidden {
        display: none;
    }

    & .infos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;

        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
            & .info:last-child {
                grid-column: 1/-1;
            }
        }
    }

    & .details {
        border-top: 1px solid lightgrey;
        padding-top: 1rem;
        & .text {
            margin-bottom: 1rem;
        }
    }

    & > * + * {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    & h2 {
        cursor:pointer;
        font-size: 2rem;
        grid-column: 1/-1;
        padding: 1rem;
        font-family: fantasy;

        &:hover span {
            text-decoration: underline;
        }
    }

    & h3 {
        font-size: .7rem;
        text-transform: uppercase;
        // display: inline;
        // border: 1px solid;
        border-radius: 30px;
        // padding: 0 .3rem;
    }

    & p {
        max-width: 700px;
        // display: inline;
    }
}